.header-top {
    list-style-type: none;
    justify-content: space-between;
margin: 0;
padding: 5,0, ;
background-color: #0088cc;
font-size: arial;
display: flex;
}
li{
    color: white;
}
li a {
    text-decoration: none;
    color: white;
}